html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #363434;
	font-family: 'Roboto Mono', 'Helvetica', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-size: 38px;
    text-align: center;
	margin-top: 50px;
	color: #fafafa;
}
header {
	color: #e8c4b8;
}
footer {
	color: #fafafa;
	position: fixed;
	bottom: 10px;
	right: 30px;
}


#gameBoard {
	height: 450px;
	width: 450px;
	background-color: #e8c4b8;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	row-gap: 6px;
	column-gap: 6px;
	margin-top: 100px;
}

.button-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.input-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
}

#player1,#player2,.player-tag {
	background-color: #827e7e;
    border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-radius: 0.25rem;
	padding: 1rem;
	color: #fafafa;
	margin: 30px 15px 30px 15px;
}
input {
	border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
}
form {
	text-align: center;
}
button {
	font-size: 28px;
	border: 0;
	background: #e8c4b8;
	font-family: 'Roboto Mono', 'Helvetica', sans-serif;
	border-bottom: 4px solid #826f69;
	border-radius: 3px;
    color: #251b1b;
    font-size: 90%;
	margin: 20px 10px 20px 10px;
    display: block;
    text-align: center;
    font-weight: 500;
	padding: 12px 20px 12px 20px;
	cursor: pointer;
	outline: none;
    text-decoration: none;
}

::placeholder {
	color: #e8c4b8;
}
  
.cell {
	background-color: #363434;
	font-weight: bold;
	font-size: 6em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 15px;
	font-family: "Century Gothic";
	color: #fafafa;
}

.cell:hover {
	background-color: #3a3737;
}

.hide {
	display: none !important;
}

.game {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.player-tag {
	margin-top: 50px;
	text-align: center;
}

.turn {
	background-color: #e8c4b8;
	color: #251b1b;
}

#announce {
	position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
	background-color: rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
}

#winner {
	position: fixed;
    left: 50%;
	top: 35%;
	transform: translate(-50%, -50%);
	background-color: #fafafa;
	width: 400px;
	height: 200px;
	font-size: 28px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

#winner>button {
	margin-top: 30px;
	margin-bottom: 30px;
	background: #363434;
	color: #e8c4b8;
	border-bottom: 4px solid #ababab;
	font-size: 18px;
}

.footer-img {
	width: 20px;
	height: 20px;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
	cursor: pointer;
}